.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 10%;
  width: 100%;
}

.NavBar img{
  max-width: 120px;
  max-height: 120px;
  margin-left: 20px;
}

.NavBar h1{
  color: rgb(5, 53, 53);
}

.NavBar ul{
  display: flex;
  flex-direction: row;
}

.NavBar ul li{
  list-style: none;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgb(49, 168, 162);
  border:rgb(49, 168, 162) solid 5px;
  border-radius: 5%;
  padding: 5px;
}

.NavBar ul li a{
  color: white;
  text-decoration: none;
}

.NavBar ul li:hover{
  border: rgb(18, 107, 103) solid 5px;
}